body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f4f8;
   /* background-color: #000;*/
}
h1{
    text-align: center;
   color: rgb(27, 26, 26);
   /*color: white;*/
}
form{
    max-width: 600px;
    margin: auto;
    background-color: rgb(194, 226, 226);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
fieldset{
    border: 2px solid #3498bd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: bisque;
}
legend{
    font-weight: bold;
    text-align: center;
    color: #000;
}
label{
    display: inline;
    margin-top: 10px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}
input,textarea{
    width: 400px;
    align-items: center;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #3498bd;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(36, 219, 219);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    background-color: #3498bd;
}
#resume-Output{
    background: rgb(240, 231, 232);
    color: black;
    margin: auto;
    padding: 20px;
    border: 2px solid #3498bd;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#resume-Output h2 {
    color: rgb(14, 6, 65);
}
.profilePicture{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #3498bd;
    box-shadow: 0 4px 8px rgba(11,7,211,0.5);
    margin: auto;
    display: block;
    object-fit: cover;
}